Finding associations between the different items that are bought together. 

Trying out pythons apyori package for utilizing apriori algorithm for the task.

Both of the used datasets are small, and the results may thus be somewhat all over the place. This is mostly just to check out the mechanics of the apyori.

In [2]:
!pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=559e0ed1a1c7854d4940a0498bcc7fce82c83fd1927bdfae8931fc6a6e664329
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

Data from Kaggle: 
 https://www.kaggle.com/sivaram1987/association-rule-learningapriori/

 First upload kaggle.json

In [6]:
from google.colab import files

files.upload();

Saving kaggle.json to kaggle (1).json

In [7]:
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [11]:
!kaggle datasets download sivaram1987/association-rule-learningapriori
!unzip -q association-rule-learningapriori.zip

Downloading association-rule-learningapriori.zip to /content
  0% 0.00/46.9k [00:00<?, ?B/s]
100% 46.9k/46.9k [00:00<00:00, 17.6MB/s]

In [12]:
!ls

 association-rule-learningapriori.zip   kaggle.json
'kaggle (1).json'		        sample_data

In [17]:
!head -n 5 Market_Basket_Optimisation.csv

shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
burgers,meatballs,eggs
chutney
turkey,avocado
mineral water,milk,energy bar,whole wheat rice,green tea

In [19]:
import pandas as pd
import numpy as np

from apyori import apriori

In [24]:
df = pd.read_csv("Market_Basket_Optimisation.csv", header=None)
df.shape

(7501, 20)

In [25]:
df.head()

              0          1           2   ...               17       18         19
0         shrimp    almonds     avocado  ...  frozen smoothie  spinach  olive oil
1        burgers  meatballs        eggs  ...              NaN      NaN        NaN
2        chutney        NaN         NaN  ...              NaN      NaN        NaN
3         turkey    avocado         NaN  ...              NaN      NaN        NaN
4  mineral water       milk  energy bar  ...              NaN      NaN        NaN

[5 rows x 20 columns]

One row is one basket. Columns are different items. Colname 0 is the first item, colname 1 the 2nd and so on.

In [90]:
baskets = []

for row_idx, row in df.iterrows():
  baskets.append([item for item in row if not pd.isna(item)])

baskets[:5]

[['shrimp',
  'almonds',
  'avocado',
  'vegetables mix',
  'green grapes',
  'whole weat flour',
  'yams',
  'cottage cheese',
  'energy drink',
  'tomato juice',
  'low fat yogurt',
  'green tea',
  'honey',
  'salad',
  'mineral water',
  'salmon',
  'antioxydant juice',
  'frozen smoothie',
  'spinach',
  'olive oil'],
 ['burgers', 'meatballs', 'eggs'],
 ['chutney'],
 ['turkey', 'avocado'],
 ['mineral water', 'milk', 'energy bar', 'whole wheat rice', 'green tea']]

In [91]:
# Apply apriori algorithm

association_rules = apriori(baskets, min_support=0.005, min_confidence=0.25, 
                            min_lift=3, min_length=2)

association_results = list(association_rules)
association_results

[RelationRecord(items=frozenset({'mushroom cream sauce', 'escalope'}), support=0.005732568990801226, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mushroom cream sauce'}), items_add=frozenset({'escalope'}), confidence=0.3006993006993007, lift=3.790832696715049)]),
 RelationRecord(items=frozenset({'pasta', 'escalope'}), support=0.005865884548726837, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'escalope'}), confidence=0.3728813559322034, lift=4.700811850163794)]),
 RelationRecord(items=frozenset({'herb & pepper', 'ground beef'}), support=0.015997866951073192, ordered_statistics=[OrderedStatistic(items_base=frozenset({'herb & pepper'}), items_add=frozenset({'ground beef'}), confidence=0.3234501347708895, lift=3.2919938411349285)]),
 RelationRecord(items=frozenset({'tomato sauce', 'ground beef'}), support=0.005332622317024397, ordered_statistics=[OrderedStatistic(items_base=frozenset({'tomato sauce'}), items_add=frozenset({'ground beef'}), confidence=0.3773584905660377, lift=3.840659481324083)]),
 RelationRecord(items=frozenset({'whole wheat pasta', 'olive oil'}), support=0.007998933475536596, ordered_statistics=[OrderedStatistic(items_base=frozenset({'whole wheat pasta'}), items_add=frozenset({'olive oil'}), confidence=0.2714932126696833, lift=4.122410097642296)]),
 RelationRecord(items=frozenset({'pasta', 'shrimp'}), support=0.005065991201173177, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'shrimp'}), confidence=0.3220338983050847, lift=4.506672147735896)]),
 RelationRecord(items=frozenset({'chocolate', 'shrimp', 'frozen vegetables'}), support=0.005332622317024397, ordered_statistics=[OrderedStatistic(items_base=frozenset({'chocolate', 'shrimp'}), items_add=frozenset({'frozen vegetables'}), confidence=0.29629629629629634, lift=3.1084175084175087)]),
 RelationRecord(items=frozenset({'frozen vegetables', 'spaghetti', 'ground beef'}), support=0.008665511265164644, ordered_statistics=[OrderedStatistic(items_base=frozenset({'frozen vegetables', 'spaghetti'}), items_add=frozenset({'ground beef'}), confidence=0.31100478468899523, lift=3.165328208890303)]),
 RelationRecord(items=frozenset({'frozen vegetables', 'shrimp', 'mineral water'}), support=0.007199040127982935, ordered_statistics=[OrderedStatistic(items_base=frozenset({'shrimp', 'mineral water'}), items_add=frozenset({'frozen vegetables'}), confidence=0.30508474576271183, lift=3.200616332819722)]),
 RelationRecord(items=frozenset({'frozen vegetables', 'tomatoes', 'spaghetti'}), support=0.006665777896280496, ordered_statistics=[OrderedStatistic(items_base=frozenset({'tomatoes', 'spaghetti'}), items_add=frozenset({'frozen vegetables'}), confidence=0.3184713375796179, lift=3.341053850607991)]),
 RelationRecord(items=frozenset({'ground beef', 'spaghetti', 'grated cheese'}), support=0.005332622317024397, ordered_statistics=[OrderedStatistic(items_base=frozenset({'spaghetti', 'grated cheese'}), items_add=frozenset({'ground beef'}), confidence=0.3225806451612903, lift=3.283144395325426)]),
 RelationRecord(items=frozenset({'mineral water', 'herb & pepper', 'ground beef'}), support=0.006665777896280496, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mineral water', 'herb & pepper'}), items_add=frozenset({'ground beef'}), confidence=0.39062500000000006, lift=3.975682666214383)]),
 RelationRecord(items=frozenset({'spaghetti', 'herb & pepper', 'ground beef'}), support=0.006399146780429276, ordered_statistics=[OrderedStatistic(items_base=frozenset({'herb & pepper', 'spaghetti'}), items_add=frozenset({'ground beef'}), confidence=0.3934426229508197, lift=4.004359721511667)]),
 RelationRecord(items=frozenset({'shrimp', 'spaghetti', 'ground beef'}), support=0.005999200106652446, ordered_statistics=[OrderedStatistic(items_base=frozenset({'shrimp', 'ground beef'}), items_add=frozenset({'spaghetti'}), confidence=0.5232558139534884, lift=3.005315360233627)])]

In [92]:
# Collect found associations into a DF, sort by lift

def unpack_association_rules(association_results: list) -> pd.DataFrame:
  associations_df = pd.DataFrame(columns=('Items','Antecedent','Consequent','Support','Confidence','Lift'))

  sup = []
  conf = []
  lift = []
  items = []
  antec = []
  conseq = []

  for relation_record in association_results:
    for ordered_stat in relation_record.ordered_statistics:
        sup.append(relation_record.support)
        items.append(relation_record.items)
        antec.append(ordered_stat.items_base)
        conseq.append(ordered_stat.items_add)
        conf.append(ordered_stat.confidence)
        lift.append(ordered_stat.lift)

  associations_df['Items'] = list(map(set, items))                                   
  associations_df['Antecedent'] = list(map(set, antec))
  associations_df['Consequent'] = list(map(set, conseq))
  associations_df['Support'] = sup
  associations_df['Confidence'] = conf
  associations_df['Lift']= lift

  associations_df = associations_df.sort_values(by="Lift", ascending=False)
  
  return associations_df

In [95]:
associations_df = unpack_association_rules(association_results)
associations_df

                                          Items  ...      Lift
1                             {pasta, escalope}  ...  4.700812
5                               {pasta, shrimp}  ...  4.506672
4                {whole wheat pasta, olive oil}  ...  4.122410
12      {spaghetti, herb & pepper, ground beef}  ...  4.004360
11  {mineral water, herb & pepper, ground beef}  ...  3.975683
3                   {tomato sauce, ground beef}  ...  3.840659
0              {mushroom cream sauce, escalope}  ...  3.790833
9      {frozen vegetables, tomatoes, spaghetti}  ...  3.341054
2                  {herb & pepper, ground beef}  ...  3.291994
10      {ground beef, spaghetti, grated cheese}  ...  3.283144
8    {frozen vegetables, shrimp, mineral water}  ...  3.200616
7   {frozen vegetables, spaghetti, ground beef}  ...  3.165328
6        {chocolate, shrimp, frozen vegetables}  ...  3.108418
13             {shrimp, spaghetti, ground beef}  ...  3.005315

[14 rows x 6 columns]

These are the strongest associations (that fulfill those conditions set to apriori): 
 - Pasta -> escalope
 - Pasta -> shrimp
 - Whole wheat pasta -> olive oil
 - etc.

## Let's try on another dataset:

In [63]:
!kaggle datasets download heeraldedhia/groceries-dataset
!unzip -q groceries-dataset.zip

Downloading groceries-dataset.zip to /content
  0% 0.00/257k [00:00<?, ?B/s]
100% 257k/257k [00:00<00:00, 17.1MB/s]

In [68]:
groceries_df = pd.read_csv("Groceries_dataset.csv")
groceries_df.shape

(38765, 3)

In [69]:
groceries_df

       Member_number        Date        itemDescription
0               1808  21-07-2015         tropical fruit
1               2552  05-01-2015             whole milk
2               2300  19-09-2015              pip fruit
3               1187  12-12-2015       other vegetables
4               3037  01-02-2015             whole milk
...              ...         ...                    ...
38760           4471  08-10-2014          sliced cheese
38761           2022  23-02-2014                  candy
38762           1097  16-04-2014               cake bar
38763           1510  03-12-2014  fruit/vegetable juice
38764           1521  26-12-2014               cat food

[38765 rows x 3 columns]

In [70]:
groceries_df.columns = ["member_id", "date", "item"]
groceries_df

       member_id        date                   item
0           1808  21-07-2015         tropical fruit
1           2552  05-01-2015             whole milk
2           2300  19-09-2015              pip fruit
3           1187  12-12-2015       other vegetables
4           3037  01-02-2015             whole milk
...          ...         ...                    ...
38760       4471  08-10-2014          sliced cheese
38761       2022  23-02-2014                  candy
38762       1097  16-04-2014               cake bar
38763       1510  03-12-2014  fruit/vegetable juice
38764       1521  26-12-2014               cat food

[38765 rows x 3 columns]

In [71]:
groceries_df.isna().sum()

member_id    0
date         0
item         0
dtype: int64

In [72]:
groceries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38765 entries, 0 to 38764
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   member_id  38765 non-null  int64
 1   date       38765 non-null  object
 2   item       38765 non-null  object
dtypes: int64(1), object(2)
memory usage: 908.7+ KB

We could form the baskets by grouping by member and date (assuming same member, same date rows belong to the same order). 

For the sake of doing something a bit different, let's ...

In [83]:
groceries_df.groupby(["member_id", "date"])["item"].size()

member_id  date
1000       15-03-2015    4
           24-06-2014    3
           24-07-2015    2
           25-11-2015    2
           27-05-2015    2
                        ..
4999       24-01-2015    6
           26-12-2015    2
5000       09-03-2014    2
           10-02-2015    3
           16-11-2014    2
Name: item, Length: 14963, dtype: int64

In [87]:
groceries_baskets = []

for (m_id, dt), data_chunk in groceries_df.groupby(["member_id", "date"]):
  groceries_baskets.append(data_chunk["item"].tolist())

len(groceries_baskets)

14963

In [88]:
groceries_baskets[:5]

[['sausage', 'whole milk', 'semi-finished bread', 'yogurt'],
 ['whole milk', 'pastry', 'salty snack'],
 ['canned beer', 'misc. beverages'],
 ['sausage', 'hygiene articles'],
 ['soda', 'pickled vegetables']]

In [102]:
association_rules_groc = apriori(groceries_baskets, min_support=0.0003, min_confidence=0.25, 
                            min_lift=3, min_length=2)

association_results_groc = list(association_rules_groc) 

associations_groc_df = unpack_association_rules(association_results_groc)
associations_groc_df

                                            Items  ...      Lift
9          {sausage, curd, fruit/vegetable juice}  ...  8.285161
0   {canned beer, brown bread, frozen vegetables}  ...  7.612434
1   {canned beer, brown bread, frozen vegetables}  ...  6.644316
21   {soda, whole milk, pastry, other vegetables}  ...  5.685895
3              {canned beer, yogurt, butter milk}  ...  5.609162
19   {soda, whole milk, pastry, other vegetables}  ...  5.276837
10                     {sausage, margarine, curd}  ...  5.178225
20   {soda, whole milk, pastry, other vegetables}  ...  5.149002
2              {canned beer, yogurt, butter milk}  ...  4.851816
8                       {pastry, sausage, coffee}  ...  4.833010
13    {shopping bags, root vegetables, margarine}  ...  4.791226
6                     {soda, yogurt, chewing gum}  ...  4.657743
12             {rolls/buns, ice cream, pip fruit}  ...  4.545261
4       {canned beer, sausage, frozen vegetables}  ...  4.142580
24      {rolls/buns, sausage, whole milk, yogurt}  ...  4.142580
15               {onions, yogurt, tropical fruit}  ...  3.883266
11       {other vegetables, sausage, hard cheese}  ...  3.722695
23      {rolls/buns, sausage, whole milk, yogurt}  ...  3.517892
7                    {yogurt, citrus fruit, pork}  ...  3.493307
5     {canned beer, whole milk, hygiene articles}  ...  3.453930
22      {rolls/buns, sausage, whole milk, yogurt}  ...  3.424811
16           {sausage, waffles, other vegetables}  ...  3.412470
14               {onions, yogurt, tropical fruit}  ...  3.234544
17        {yogurt, soft cheese, other vegetables}  ...  3.234544
18                        {yogurt, sausage, pork}  ...  3.037659

[25 rows x 6 columns]